#profile_container{
    margin-top: 0;
    height: calc(100vh - 140px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile_box{
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 237, 253);
    border: 2px black solid;
    width: 700px;
    height: 700px;
    border-radius: 40px;
    box-shadow: 20px 20px 15px -10px rgb(0, 0, 0, 1);
}

.profile-table{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 350px;
    padding: 20px;
    border-collapse: collapse;
}

.profile-table th{
    background-color: aliceblue;
    font-size: 20px;
    border-bottom: 2px solid #ddd ;
}

.profile-table td{
    text-align: left;
    font-size: 18px;
    padding: 7px;
    border-bottom: 2px solid #ddd;
}

#main_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#profile_box img{
    position: relative;
    margin-top: 30%;
    margin-left: 20px;
    height: 250px;
    width: 250px;
}

